body{
    background-color: teal;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    color: blanchedalmond;
}